#Dependencies
/node_modules
/.pnp
.pnp.js
static

#Testing
/coverage

#Producion
/build
/dist

#Misc
.DS_Store
*Zone.Identifier
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log
bundle.*

#Vite
.vite/

#Promptkit
promptkit